@import url(./componentes/header.css);
@import url(./componentes/tab-bar.css);
@import url(./componentes/boton.css);

.contenedor__home{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 68px;
    padding-bottom: 30px;
} 

.items h3 {
    margin: 15px 0;
}
.items .item--accion {
    margin-left: 4px;
    margin-right: 4px;
}